extends layout

block content
	h3= title
	
	nav
		a(href="/") Home
	
	div#chatWindow
		div#chatArea
		br
		div#inChat
			div
				input#txtChatInput(onkeypress="chat.addText(event);")
				input#btnChatInput(type="button" value="Enter" onclick="chat.addText(event);")
			div
				span#userName
				input#btnLeaveChat(type="button" value="Leave Chat" onclick="chat.leaveChat();")
		div#joinChat
			p Username: 
				input#txtUsername
				input#btnJoinChat(type="button" value="Join Chat" onclick="chat.joinChat();")